<link rel="stylesheet" href="/js/webix/webix.css" />
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #container {
        height: 100%;
        box-sizing: border-box;
        padding: 1em;
    }
    #sdc-appointment-report {
        height: 100%;
    }
    table td div[role="columnheader"] {
        text-align: center;
    }
    table td div[role="columnheader"].formula {
        font-size: .8em;
        font-style: italic;
    }
</style>

<div id="container">
    <div id="sdc-appointment-report">
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/webix/webix.js"></script>

<script>
webix.ready(function() {

    var now = new Date();
    var decimalFormat = webix.Number.numToStr({
        decimalDelimiter: '.',
        decimalSize: 2
    });
    
    // We need a custom sum filter, because the default one will double count
    // when the tree nodes are expanded.
    var footerTotals = {};
    webix.ui.datafilter.appointmentsTotal = {
        getInputNode: function(node) {
        },
        setValue: function(node, value) {
        },
        getValue: function(node) {
        },
        refresh: function(master, node, value) {
        },
        render: function(master, column) {
            return footerTotals[column.columnId] || 0;
        }
    };
    
    webix.ui({
        container: 'sdc-appointment-report',
        rows: [
            {
                view: 'datepicker',
                id: 'startDate',
                label: 'Start',
                value: now.getFullYear() + '-01-01'
            },
            {
                view: 'datepicker',
                id: 'endDate',
                label: 'End',
                value: now.getFullYear() + '-12-31'
            },
            {
                view: 'button',
                value: 'Go',
                click: function() {
                    
                    var start = moment($$('startDate').getValue()).format('YYYY-MM-DD');
                    var end = moment($$('endDate').getValue()).format('YYYY-MM-DD');
                    
                    $$('report-table').clearAll();
                    //$$('report-table').load('/opstool-sdc/sdc/appointmentsReportData?startDate='+start+'&endDate='+end);
                    
                    $.ajax({
                        url: '/opstool-sdc/sdc/appointmentsReportData',
                        data: { 
                            startDate: start,
                            endDate: end
                        },
                    })
                    .done(function(data, status, xhr) {
                        // Count the totals for the footer
                        footerTotals = {
                            members: 0,
                            confirmed1: 0,
                            confirmed2: 0,
                            confirmed3: 0,
                            completed1: 0,
                            completed2: 0,
                            completed3: 0,
                            total_confirmed: 0,
                            total_completed: 0,
                        };
                        data.forEach(function(row) {
                            for (var key in row) {
                                var value = row[key];
                                if (typeof value == 'number') {
                                    footerTotals[key] = footerTotals[key] || 0;
                                    footerTotals[key] += value;
                                    
                                    if (key.substring(0,3) == 'com') {
                                        footerTotals.total_completed += value;
                                    }
                                    else if (key.substring(0,3) == 'con') {
                                        footerTotals.total_confirmed += value;
                                    }
                                }
                            }
                        });
                        footerTotals.avg_confirmed = decimalFormat(
                            footerTotals.total_confirmed / footerTotals.members
                        );
                        footerTotals.avg_completed = decimalFormat(
                            footerTotals.total_completed / footerTotals.members
                        );
                        
                        $$('report-table').parse(data);
                    })
                    .fail(function(xhr, status, err) {
                        console.log(err);
                    });
                    
                    
                }
            },
            {
                view: 'spacer',
                height: 20,
            },
            {
                view: 'treetable',
                //view: 'datatable',
                id: 'report-table',
                //autoheight: true,
                footer: true,
                resizeColumn: true,
                math: true,
                columns: [
                    { 
                        adjust: true, 
                        id: 'name', 
                        header: ['Team Name', { content: 'textFilter' }],
                        sort: 'string',
						template:function(obj, common){
							if (obj.$group) return common.treetable(obj, common) + obj.name;
							return '&nbsp;&nbsp;&nbsp;&nbsp;' + obj.name;
						},
						footer: 'Totals:'
                    },
                    { 
                        adjust: true, 
                        id: 'members', 
                        header: 'Members', 
                        sort: 'int',
                        footer: { content: 'appointmentsTotal' },
                    },
                    { 
                        adjust: true, 
                        id: 'confirmed1', 
                        sort: 'int', 
                        header: [{ colspan: 2, text: 'Conversation 1' }, 'Confirmed'],
                        footer: { content: 'appointmentsTotal' },
                    },
                    { 
                        adjust: true, 
                        id: 'completed1', 
                        sort: 'int', 
                        header: [ null, 'Completed'],
                        footer: { content: 'appointmentsTotal' },
                    },
                    { 
                        adjust: true, 
                        id: 'confirmed2', 
                        header: [{ colspan: 2, text: 'Conversation 2' }, 'Confirmed'],
                        sort: 'int',
                        footer: { content: 'appointmentsTotal' },
                    },
                    { 
                        adjust: true, 
                        id: 'completed2', 
                        header: [null, 'Completed'], 
                        sort: 'int',
                        footer: { content: 'appointmentsTotal' },
                    },
                    { 
                        adjust: true, 
                        id: 'confirmed3', 
                        header: [{ colspan: 2, text: 'Conversation 3' }, 'Confirmed'],
                        sort: 'int',
                        footer: { content: 'appointmentsTotal' },
                    },
                    { 
                        adjust: true, 
                        id: 'completed3', 
                        header: [null, 'Completed'],
                        sort: 'int',
                        footer: { content: 'appointmentsTotal' },
                    },
                    {
                        adjust: true,
                        id: 'total_confirmed',
                        header: [{ colspan: 2, text: 'Totals' }, 'Confirmed'],
                        sort: 'int',
                        math: '[$r,confirmed1] + [$r,confirmed2] + [$r,confirmed3]',
                        footer: { content: 'appointmentsTotal' },
                    },
                    {
                        adjust: true,
                        id: 'total_completed',
                        header: [null, 'Completed'],
                        sort: 'int',
                        math: '[$r,completed1] + [$r,completed2] + [$r,completed3]',
                        footer: { content: 'appointmentsTotal' },
                    },
                    {
                        adjust: true,
                        id: 'avg_confirmed',
                        header: [
                            'Avg Confirmed', 
                            {text: 'confirmed/members', css: 'formula'}
                        ],
                        sort: 'int',
                        math: '[$r,total_confirmed] / [$r,members]',
                        format: decimalFormat,
                        footer: { content: 'appointmentsTotal' },
                    },
                    {
                        adjust: true,
                        id: 'avg_completed',
                        header: [
                            'Avg Completed', 
                            {text: 'completed/members', css: 'formula'}
                        ],
                        sort: 'int',
                        math: '[$r,total_completed] / [$r,members]',
                        format: decimalFormat,
                        footer: { content: 'appointmentsTotal' },
                    },
                    /*
                    {
                        adjust: true,
                        id: 'ratio',
                        header: [
                            'Ratio', 
                            {text: 'completed/confirmed', css: 'formula'}
                        ],
                        sort: 'int',
                        math: '[$r,total_completed] / [$r,total_confirmed] * 100',
                        format: function(value) {
                            if (value < 0 || isNaN(value)) value = 0;
                            return webix.Number.numToStr({
                                decimalDelimiter: '.',
                                decimalSize: 1
                            })(value) + '%';
                        }
                    },
                    */
                ],
				scheme:{
					$group: {
						by: "region",
						map: {
				            members: ['members', 'sum'],
							confirmed1: ["confirmed1", "sum"],
							completed1: ["completed1", "sum"],
							confirmed2: ["confirmed2", "sum"],
							completed2: ["completed2", "sum"],
							confirmed3: ["confirmed3", "sum"],
							completed3: ["completed3", "sum"],
							name: ["region"]
						}
					},
					$sort: { 
					   by: "name", 
					   as: "string", 
					   dir: "asc" 
				    }
				},
                data: [
                ]
                
            },
            
        ]
    });

});
</script>