<style>
    html {
        background: lightblue;
    }
    body {
        font-family: sans-serif;
        max-width: 30em;
        margin: 2em auto;
        padding: 1em;
        background: white;
    }
    
</style>

<div>
    <h3>QR Code</h3>
    <img src="<%- image %>" />
</div>

<div>
    <h3>Name</h3>
    <p class="name"><%= userInfo.name %></p>
</div>

<div>
    <h3>Relationships</h3>
    <ul>
        <% relationships.forEach((rel) => { %>
            <li>
                <span class="name"><%= rel.name %></span> 
                <span class="role">(<%= rel.role %>)</span>
            </li>
        <% }) %>
    </ul>
</div>